.reports {
    border: 2px solid teal;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;

    &_item {
        position: relative;

        &>button {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    @media only screen and (max-width : 500px) {
        display: flex;
        flex-direction: column;
    }
}
